.section {

    &__about {


        .about {

            &__container {
                padding-top: 54px;
                padding-bottom: 41px;
                
                @media screen and (min-width: $screen-w--sx) {
                    padding-top: 86px;
                    padding-bottom: 70px;
                }

                
                @media screen and (min-width: $screen-w--xxl) {
                    padding-right: 514px;
                }
            }

            &__header {
                margin-bottom: 14px;

                @media screen and (min-width: $screen-w--sx) {
                    margin-bottom: 20px;
                }
            }
    

            
            &__text {
                margin: 0;
                font-size: 14px;
                line-height: 28px;

                @media screen and (min-width: $screen-w--sx) {
                    font-size: 16px;
                    line-height: 32px;
                }

            }
        }
    }

    

}