.header {
  position: relative;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;

  &__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding: 12px 0;
    align-items: center;

    @media screen and (min-width: $screen-w--sx) {
      height: 100px;
      
    }

  }

  &__burger {

    cursor: pointer;

    @media screen and (min-width: $screen-w--xxl) {
      display: none;
    }

    .burger {
    
      &__img {
  
        @media screen and (min-width: $screen-w--sx) {
          width: 38px;
          height: 28px;
        }
      }
    }

  }

 

  &__bar {
    display: flex;

  }

  &__sub {
    display: none;
    @media screen and (min-width: $screen-w--xxl) {
      display: block;
    }
  }

  .logo {
    &__link {
      text-decoration: none;
      color: #ffffff;
    }

    &__img {
      @media screen and (min-width: $screen-w--sx) {
        width: 188px;
      }

      @media screen and (min-width: $screen-w--xxl) {
        width: 174px;
      }
    }
  }

  &__search-mobile {
    @media screen and (min-width: $screen-w--xxl) {
      display: none;
    }

    .search {

      &__container {
        display: flex;
        box-sizing: border-box;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        top: 0;
        right: 0;
        left: 0;
        height: 45px;
        padding: 6px 15px 6px 56px;
        background: rgba(0, 0, 0, 0.9);
        transform: translateY(-200px);

        &-is-active {
          transform: none;
        }

        @media screen and (min-width: $screen-w--sx) {
          height: 100px;
          padding: 6px 50px;
        }
        
        @media screen and (min-width: $screen-w--l) {
          top: 33px;
          right: 49px;
          left: auto;
          width: 261px;
          height: 37px;
          padding: 0;
          background: #18171B;
        }
      }

      &__form {
        margin-right: 33px;
        

        @media screen and (min-width: $screen-w--sx) {
          display: flex;
          width: 100%;
          margin-right: 22px;
        }

        @media screen and (min-width: $screen-w--l) {
          margin-right: 0;
          padding-bottom: 4px;
        }
      }


      &__btn {
        width: 16px;
        height: 16px;
        border: none;
        background: transparent;
        background-image: url("~src/images/Search.svg");
        background-repeat: no-repeat;
        background-size: 100%;

        @media screen and (min-width: $screen-w--sx) {
          width: 30px;
          height: 30px;
          margin-right: 5px;
        }

        @media screen and (min-width: $screen-w--l) {
          margin-right: 12px;
          
        }
      }

      &__btn-close {
        width: 15px;
        height: 15px;
        background: transparent;
        border: none;
        background-image: url("~src/images/X.svg");
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (min-width: $screen-w--sx) {
          width: 30px;
          height: 30px;
          background-size: 100%;
        }

        @media screen and (min-width: $screen-w--l) {
          display: none;
        }
      }

      &__input {
        width: 180px;
        padding-bottom: 2px;
        vertical-align: super;
        border: none;
        background: transparent;
        border-bottom: 1px solid #ffffff;
        color: #ffffff;

        @media screen and (min-width: $screen-w--sx) {
          flex: 1;
        }

        &::placeholder {
          color: #ffffff;
        }
      }
    }
  }
   

  &__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 15px;
    background: rgba(0, 0, 0, 0.9);
    transition: all 1s;
    transform: translateX(-100%);

    @media screen and (min-width: $screen-w--sx) {
      padding: 37px 49px;
    }

    @media screen and (min-width: $screen-w--xxl) {
      position: static;
      display: block;
      margin: auto;
      margin-left: 180px;
      padding: 0;
      transition: none;
      transform: none;
    }

    &-close {
      width: 15px;
      height: 15px;
      margin-bottom: 23px;
      border: none;
      background-color: transparent;
      background: url("~src/images/X.svg") no-repeat;
      background-size: contain;
      cursor: pointer;

      @media screen and (min-width: $screen-w--sx) {
        width: 30px;
        height: 30px;
        margin-bottom: 48px;
      }     
      
      @media screen and (min-width: $screen-w--xxl) {
        display: none;
      }  
    }
  }

   .search-mobile {
      
      &__img {
        cursor: pointer;
        
        @media screen and (min-width: $screen-w--sx) {
          width: 30px;
        }

      }
    }

  &__enter {
    display: none;
    @media screen and (min-width: $screen-w--xxl) {
      display: block;
      text-decoration: none;
      color: #ffffff;
    }

    &-mobile {
      position: absolute;
      bottom: 27px;
      padding: 11px 31px;
      border-radius: 100px;
      border: 2px solid #9D5CD0;
      line-height: 12px;

      @media screen and (min-width: $screen-w--sx) {
        bottom: 51px;
        padding: 21px 90px;
      }

      @media screen and (min-width: $screen-w--xxl) {
        display: none;
      }

    }

    &-logo {
      display: inline-block;
      width: 9px;
      height: 9px;
      background: url("~src/images/Vector.svg");
      background-size: 100%;

      @media screen and (min-width: $screen-w--sx) {
        margin-right: 3px;
        width: 13px;
        height: 13px;
      }
    }

    &-btn {
      font-size: 12px;
      color: #ffffff;
      display: inline-block;

      @media screen and (min-width: $screen-w--sx) {
        font-size: 18px;
      }
    }
  }

  .nav {
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;     
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $screen-w--xxl) {
        flex-direction: row;
      }
    }

    &__item {
      margin-bottom: 14px;
      font-weight: 600;
      font-size: 16px;

      @media screen and (min-width: $screen-w--sx) {
        margin-bottom: 37px;
        font-size: 24px;
      }


      @media screen and (min-width: $screen-w--xxl) {
        margin-right: 62px;
        margin-bottom: 0;
        font-size: 18px;
      }
    }

    &__link {
      text-decoration: none;
      color: #ffffff;
    }

    &-is-active {
      transform: none;
    }
  }

  &__sub {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 70px;
    top: 100%;
  }

  .sub {
    &__container {
      display: flex;
      justify-content: space-between;
      padding: 25px 0 28px 0;
    }

    &__nav {

      &-list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
      }

      &-item {
        position: relative;
        margin-right: 94px;
      }

    }

    &__btn {
      padding: 0;
      border: none;
      background: transparent;
      color: #ffffff;

      @media screen and (min-width: $screen-w--xxl) {
      }

      &::after {
        content: "";
        display: inline-block;
        width: 9px;
        height: 9px;
        padding-left: 5px;
        background-image: url("~src/images/Rectangle54.svg");
        background-position: center center;
        background-repeat: no-repeat;
      }

      &-active {

        &::after {
          transform: rotate(180deg);
        }

      }
    }

    &__menu {
      position: absolute;
      top: 45px;
      width: 300px;
      height: 300px;
      background: rgba(0, 0, 0, 0.6);
      transform: translateY(-500px);
      visibility: hidden;

      &-active {
        transition: all 1s;
        transform: none;
        visibility: visible;
      }

      .menu {

        &__link {
          color: #ffffff;
          text-decoration: none;
        }

        &-active {
          transform: none;
        }
      }

    }

    &__form {
      display: flex;
      align-items: center;
    }
  }

  .form {
    &__btn {
      width: 22px;
      margin-right: 8px;
      border: none;
      background: transparent;
      background-image: url("~src/images/Search.svg");
      background-repeat: no-repeat;
      background-size: 100%;

    }

    &__search {
      width: 221px;
      padding-bottom: 2px;
      border: none;
      background: transparent;
      border-bottom: 1px solid #ffffff;
    }

    &__search::placeholder {
      color: #ffffff;
    }
  }

}


//.header {
//  background: $color-white;
//  position: relative;
//  z-index: 8;
//  &__logo {
//    display: flex;
//    flex-direction: row;
//    align-self: center;
//    text-decoration: none;
//  }
//  &__logo-image {
//    height: 40px;
//    align-self: center;
//  }
//  &__logo-text {
//    font-family: $font-family--montserrat;
//    font-style: normal;
//    font-weight: bold;
//    font-size: 24px;
//    line-height: 29px;
//    display: flex;
//    align-items: center;
//    text-align: center;
//    text-transform: uppercase;
//    color: $color-dark-blue;
//    margin: 0 0 0 18px;
//    text-decoration: none;
//  }
//  &__phone {
//    font-family: $font-family--montserrat;
//    font-style: normal;
//    font-weight: 600;
//    font-size: 20px;
//    line-height: 24px;
//    text-align: center;
//    color: $color-dark-blue;
//    margin: 0;
//    align-self: center;
//    cursor: pointer;
//    text-decoration: none;
//    transition: opacity .2s linear;
//    &:hover {
//      opacity: .4;
//      transition: opacity .2s linear;
//    }
//  }
//  &__upper-menu {
//    padding: 20px;
//    max-width: 1140px;
//    margin: 0 auto;
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//  }
//  &__lk-container {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//    align-items: center;
//    max-width: 580px;
//    width: 50%;
//  }
//  &__info-container {
//    display: flex;
//    flex-direction: column;
//  }
//  &__row-container {
//    display: flex;
//    flex-direction: row;
//    margin-bottom: 10px;
//    &:last-child {
//      margin: 0;
//    }
//  }
//  &__user-icon {
//    object-fit: cover;
//    object-position: center;
//    position: absolute;
//    top: 5px;
//    left: 7px;
//  }
//  &__exit-icon {
//    &_burger {
//      margin-left: 10px;
//    }
//  }
//  &__user-box {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//    align-items: center;
//    text-decoration: none;
//    &_burger {
//      justify-content: start;
//    }
//  }
//  &__image-box {
//    background: #3685D7;
//    border-radius: 50%;
//    width: 30px;
//    margin-right: 18px;
//    height: 30px;
//    position: relative;
//    &_burger {
//      margin-right: 10px;
//    }
//  }
//  &__user {
//    font-family: $font-family--montserrat;
//    font-style: normal;
//    font-weight: normal;
//    font-size: 18px;
//    line-height: 22px;
//    color: $color-gray--d10;
//    margin: 0;
//    &_burger {
//      font-weight: bold;
//    }
//  }
//  &__balance-text {
//    font-family: $font-family--montserrat;
//    font-style: normal;
//    font-weight: normal;
//    font-size: 14px;
//    line-height: 17px;
//    text-align: right;
//    color: $color-gray--d10;
//    margin: 0 11px 0 0;
//    min-width: 99px;
//    &:last-child {
//      margin: 0;
//    }
//    &_bold {
//      font-weight: 600;
//      font-size: 15px;
//      line-height: 18px;
//      text-align: left;
//      color: $color-dark-blue;
//    }
//  }
//  &__start-button {
//    padding: 12px;
//    font-family: $font-family--montserrat;
//    font-style: normal;
//    font-weight: 600;
//    font-size: 16px;
//    line-height: 20px;
//    text-align: center;
//    color: $color-dark-blue;
//    border: 2px solid $color-background-blue;
//    box-sizing: border-box;
//    border-radius: 5px;
//    background: $color-white;
//    width: 195px;
//    cursor: pointer;
//    transition: all .2s linear;
//    &:hover {
//      background-color: $color-background-blue;
//      color: $color-white;
//      transition: all .2s linear;
//    }
//    &:focus {
//      outline: none;
//    }
//  }
//  &__lk-button {
//    font-family: $font-family--montserrat;
//    font-style: normal;
//    font-weight: 600;
//    font-size: 16px;
//    line-height: 20px;
//    text-align: center;
//    background: $color-background-blue;
//    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
//    border-radius: 5px;
//    color: $color-white;
//    width: 195px;
//    border: 0;
//    min-height: 48px;
//    cursor: pointer;
//    transition: all .2s linear;
//    &:hover {
//      background: $color-white;
//      color: $color-dark-blue;
//      border: 2px solid $color-background-blue;
//      transition: all .2s linear;
//    }
//    &:focus {
//      outline: none;
//    }
//  }
//}
//@media screen and (max-width: $screen-w--l) {
//  .header {
//    &__upper-menu {
//      padding: 20px 50px;
//    }
//  }
//}
//@media screen and (max-width: 950px) {
//  .header {
//    border-bottom: 1px solid $color-gray--d10;
//    &__phone,
//    &__lk-button,
//    &__start-button {
//      display: none;
//    }
//    &__lk-container {
//      display: none;
//    }
//  }
//}
//@media screen and (max-width: $screen-w--xxs) {
//  .header {
//    &__logo-text {
//      font-size: 16px;
//      line-height: 1.1;
//    }
//    &__upper-menu {
//      padding: 15px;
//    }
//  }
//}